PORT=5000
JWT_SECRET=sikka_fleet_super_secret_jwt_key_2026_production
MONGODB_USERNAME=sikkaindlmc_db_user
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URI=mongodb+srv://sikkaindlmc_db_user:<password>@sikka-fleet.hubg2m2.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=sikka_fleet
